server {
    listen 80;
    server_name {{ NAME }}.infra.apna.co;
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name {{ NAME }}.infra.apna.co;

    ssl_certificate /opt/ssl/star_infra_apna_co.cer;
    ssl_certificate_key /opt/ssl/star_infra_apna_co.key;

    # Add other SSL settings as needed, e.g., SSL protocols, ciphers, and HSTS headers.

    location / {
        proxy_pass http://0.0.0.0:9000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}